:root {
--moderate-cyan:hsl(176, 50%, 47%);
--dark-cyan:hsl(176, 72%, 28%);
--dark-gray: hsl(0, 0%, 48%);
}
/* Hero Section */
.hero {
  background: url("./assets/img/image-hero-desktop.jpg") !important;
  background-size: cover !important;
  height: 100vh;
  background-repeat: no-repeat !important;
  width: 100%;
  /* position: relative; */
}
p.text-muted {
  font-size: 17px;
}
.mod-cyan {
  color: var(--moderate-cyan);
}
.p-fix {
  position: fixed !important;
}

.dark-gray {
  color: var(--dark-gray);
}
.modal-back {
  display: flex;
  position: absolute !important;
  top: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 1s all;
}

.btn-continue:hover {
  background-color: var(--dark-cyan) !important;
}
.bookmark img {
  width: 90%;
}
.bookmark:hover img {
  width: 100%;
  transition: ease .25s;
}
.cardify {
  /* width: 320px; */
  padding-top: 15px;
  margin-top: 31px;
  padding-right: 10px;
  padding-left: 10px;
}

hr {
  display: none;
  width: 93px;
  margin-top: 25px;
  padding-top: 1px;
  background: #dedede;
  border-radius: 33px;
  border-style: none;
}
span {
  font-size: 16px;
  margin-left: 9px;
  padding-bottom: 0;
  color: rgb(136,136,136)
}
.cardify-two {
  padding: 8px 12px;
  padding-right: 18px;
  padding-left: 18px;
  border-radius: 38px;
  background: hsl(176, 50%, 47%) !important;
  border-style: none;
}
.last {
  background: hsl(0, 0%, 48%) !important;
}
.card-subtitle-two {
  color: hsl(176, 50%, 47%) !important;
}
 .card-border {
  border-right: 1px solid  hsl(0, 0%, 88%);
}


@media (min-width: 768px) {
  .nav-item-main {
    color: #f8f9fa !important;
    padding: .4rem 1rem !important;
    width: 100%;
    margin-right: 2rem !important;
    text-align: center;
    /* border: 1px solid tomato !important; */
  }

  .navbar-nav {
    width: 100%;
  }

}
.thanks {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;

}
.box-shadow-two {
  box-shadow:
  0 4.6px 10px rgba(0, 0, 0, 0.035),
  0 37px 80px rgba(0, 0, 0, 0.07)
;

}
@media (max-width: 768px) {
  .nav-item-main {
    border-bottom: 1px solid #ddd ;
    color: #343a40 !important;
    padding: 1.2rem 1rem !important;
  }
  .navbar-nav {
    background: white;
  }

}
@media (max-width: 996px) {
  .card-border {
    border-right: none;
  }
  body {
    font-size: 16px !important;
  }

  /* Hero Section */
  .hero {
    background-size: cover;
    background-image: url("./assets/img/image-hero-mobile.jpg") !important;
  }
  hr {
    display: block;
  }
}